.item-catalog-wrapper {
    margin: 0px auto;
    width: 80%;
    h1{
        margin: 40px 0px;
    }
    .items-container {
        justify-content: space-between;
        box-sizing: border-box;
        width: 100%;
        flex-wrap: wrap;
        .current-item {
            width: 350px;
            border: 1px solid white;
            height: 550px;
            margin-bottom: 70px;
            text-align: center;
            img {
                max-width: 200px;
            }
            button{
                width: 150px;
                font-size: 12px;
                background-color: transparent;
                color: white;
                margin: 5px 0px;
                text-transform: capitalize;
            }
        }
    }
    .search-bar{
        background-color: rgba(255, 255, 255, 0.2);
        height: 20px;
        width: 200px;
        color: white;
        padding: 10px;
        border: 1px solid white;
        margin-bottom: 50px;
        font-size: 12px;
    }
    ::placeholder { 
        color: white;
        
      }
}
