input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 0px solid white;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px rgb(11, 0, 70) inset;
    transition: background-color 5000s ease-in-out 0s;
}
.sign-up-page-container {
    margin: 0px auto;
    width: 100vw;
    height: 100vh;
    padding: 0px 30px;
}
.sign-form {
    height: 60vh;
    width: 30vw;
    input {
        background-color: rgba(255, 255, 255, 0.2);
        height: 60px;
        width: 25vw;
        color: white;
        padding-left: 10px;
        border: 1px solid white;
    }
    input:hover{
      border: 2px solid white;
    }
    .sign-button{
      width: 10vw;
    }
}

.sign-text-content {
    flex-basis: 1;
    height: 80vh;
    width: 30vw;
}
