.profile-page-container {
    margin-top: 70px;
    .profile-picture {
        width: 200px;
        height: 200px;
        background-color: gray;
    }
    .profile-items-navigation{
     width: 500px;
     span{
         padding: 10px;
     }
     span:hover{
        background-color: rgba(255, 255, 255, 0.2);
     }
    }
    .current-items {
        h3{
            margin-top: 30px;
            margin-bottom: 10px;
        }
        table {
            background-color: rgba(255, 255, 255, 0.2);
            width: 800px;
            text-align: left;
            border-collapse: collapse;
            .td-title{
                width: 50%;
            }
            td {
                border-bottom: 1px solid white;
                padding: 15px 0px;
            }
        }
    }
}
